<div class="navbar">
    <a href="/">
        <button type="submit" class="btn btn-sm">Home</button>
    </a>
    <a href="/user/register">
        <button type="submit" class="btn btn-sm">Sign Up</button>
    </a>
    <a href="/user/login">
        <button type="submit" class="btn btn-sm">Login</button>
    </a>
    <a href="/product/buy">
        <button type="submit" class="btn btn-sm">Our Products</button>
    </a>
    <a href="/shoppingcart">
        <button type="submit" class="btn btn-sm">Shopping Cart</button>
    </a>
</div>