<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mantul Shop | Home</title>
</head>
<% include ../partials/header.ejs%>
    <% include ../styles/style.ejs%>

        <body>
            <h1>Welcome to Mantul Shop</h1>
            <h2>The Most Mantul Shop In The World</h2>
        </body>

</html>