<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>

<body>
    <form action="" method="POST">
        <input type="text" , name="name" , placeholder="Name">
        <select name="color">
            <option value="White">White</option>
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
        </select>
        <select name="size">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>
        <input type="text" , name="description" , placeholder="Description">
        <input type="text" , name="price" , placeholder="Price">
        <input type="number" , name="stock" , placeholder="0" min="0">
        <button class="btn btn-primary">Add Product</button>
    </form>
</body>

</html>