<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mantul Shop | Edit Profile</title>
</head>
<body> 
        <h2>Edit</h2>
        <form action="" method="POST">
            <input type="text" name="name" value="<%= data.name %>">
            <br><br>
            <input type="email" name="email" value="<%= data.email %>">
            <br><br>
            <input type="text" name="phone" value="<%= data.phone %>">
            <br><br>
            <input type="password" name="password" value="<%= data.password %>">
            <br><br>
            <button type="submit">Save</button>
        </form>
    
</body>
</html>