<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mantul Shop | Login</title>
</head>
<body>
    <form action="" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Email" id="email">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password" id="password">
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>